{% extends 'base.html' %} {% load static %} {% block content %}

    <!-- Add your site or application content here -->

    <div class="exporso_wrapper">
    {% include 'header.html' %}
      
        <!--Breadcrumb section-->
        <div class="breadcrumb_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_inner">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="zmdi zmdi-chevron-right"></i></li>
                                <li>Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb section end-->

        <!-- PAGE SECTION START -->
        <div class="cart_page_area pt-100 pb-60">
            <form action="#">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart-table table-responsive mb-40">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">Image</th>
                                            <th class="pro-title">Product</th>
                                            <th class="pro-price">Price</th>
                                            <th class="pro-quantity">Quantity</th>
                                            <th class="pro-subtotal">Total</th>
                                            <th class="pro-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="#"><img src="assets/img/product/pro_sm_1.png" alt="" /></a>
                                            </td>
                                            <td class="pro-title"><a href="#">Le Parc Minotti Chair</a></td>
                                            <td class="pro-price"><span class="amount">$169.00</span></td>
                                            <td class="pro-quantity">
                                                <div class="product-quantity"><input type="number" value="1" /></div>
                                            </td>
                                            <td class="pro-subtotal">$169.00</td>
                                            <td class="pro-remove"><a href="#">×</a></td>
                                        </tr>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="#"><img src="assets/img/product/pro_sm_2.png" alt="" /></a>
                                            </td>
                                            <td class="pro-title"><a href="#">DSR Eiffel chair</a></td>
                                            <td class="pro-price"><span class="amount">$137.00</span></td>
                                            <td class="pro-quantity">
                                                <div class="product-quantity"><input type="number" value="1" /></div>
                                            </td>
                                            <td class="pro-subtotal">$137.00</td>
                                            <td class="pro-remove"><a href="#">×</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="cart-buttons mb-30">
                                <input type="submit" value="Update Cart" />
                                <a href="#">Continue Shopping</a>
                            </div>
                            <div class="cart-coupon mb-40">
                                <h4>Coupon</h4>
                                <p>Enter your coupon code if you have one.</p>
                                <div class="coupon_form_inner">
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply Coupon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="cart-total mb-40">
                                <h3>Cart Totals</h3>
                                <div class="table-responsive">
                                    <table>
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td><span class="amount">$306.00</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td>
                                                    <strong><span class="amount">$306.00</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="proceed-to-checkout section mt-30">
                                    <a href="#">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
        <!-- PAGE SECTION END -->

        <!--Newsletter section start-->
        <div class="newsletter_section ptb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="newsletter_text">
                            <h2>Get All Updates</h2>
                            <p>Sign up our newsleter today. Also get allert for new product.</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="newsletter_form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Newsletter section end -->

        <!--Footer start-->

      {% include 'footer.html' %}
        <!--Footer end-->


    </div>



    <!-- all js here -->

    {% endblock %}
