{% extends 'base.html' %} {% load static %} {% block content %}

    <!-- Add your site or application content here -->

    <div class="exporso_wrapper">
            {% include 'header.html' %}


        <!--Breadcrumb section-->
        <div class="breadcrumb_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_inner">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="zmdi zmdi-chevron-right"></i></li>
                                <li>Wishlist</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb section end-->

        <!-- PAGE SECTION START -->
        <div class="page-section section ptb-100">
            <form action="#">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wishlist-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="pro-remove">Remove</th>
                                            <th class="pro-thumbnail">Image</th>
                                            <th class="pro-title">Product</th>
                                            <th class="pro-price">Unit Price</th>
                                            <th class="pro-stock-stauts">Stock Stauts</th>
                                            <th class="pro-add-to-cart">Add to Cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pro-remove"><a href="#">×</a></td>
                                            <td class="pro-thumbnail">
                                                <a href="#"><img src="assets/img/product/pro_sm_1.png" alt="" /></a>
                                            </td>
                                            <td class="pro-title"><a href="#">Le Parc Minotti Chair</a></td>
                                            <td class="pro-price"><span class="amount">$169.00</span></td>
                                            <td class="pro-stock-stauts"><span class="in-stock">in stock</span></td>
                                            <td class="pro-add-to-cart"><a href="#" class="add-to-cart">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="pro-remove"><a href="#">×</a></td>
                                            <td class="pro-thumbnail">
                                                <a href="#"><img src="assets/img/product/pro_sm_1.png" alt="" /></a>
                                            </td>
                                            <td class="pro-title"><a href="#">DSR Eiffel chair</a></td>
                                            <td class="pro-price"><span class="amount">$137.00</span></td>
                                            <td class="pro-stock-stauts"><span class="out-stock">out stock</span></td>
                                            <td class="pro-add-to-cart"><a href="#" class="add-to-cart">add to cart</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- PAGE SECTION END -->

        <!--Newsletter section start-->
        <div class="newsletter_section ptb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="newsletter_text">
                            <h2>Get All Updates</h2>
                            <p>Sign up our newsleter today. Also get allert for new product.</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="newsletter_form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Newsletter section end -->

        <!--Footer start-->

                {% include 'footer.html' %}

        <!--Footer end-->

    </div>


    <!-- all js here -->
    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>