{% extends 'base.html' %} {% load static %} {% block content %}

    <!-- Add your site or application content here -->

    <div class="exporso_wrapper">
    {% include 'header.html' %}


        <!--Breadcrumb section-->
        <div class="breadcrumb_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_inner">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="zmdi zmdi-chevron-right"></i></li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb section end-->

        <!--About us start-->

        <div class="about-us bg-gray mt-110 mb-105">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-description">
                            <div class="about-content">
                                <h3>about us</h3>
                                <div class="about-read">
                                    <p class="text-1">
                                        Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt
                                    </p>
                                    <p class="text-2">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem
                                        quia volupta
                                    </p>
                                    <p class="text-3">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-fun-fact">
                <div class="about-fun-fact-inner white-overlay">
                    <div class="fun-factor">
                        <div class="row">
                            <div class="col-lg-6 col-md-6  mb-100">
                                <div class="single-fun-fact text-center">
                                    <div class="fun-icon">
                                        <i class="zmdi zmdi-check-circle"></i>
                                    </div>
                                    <div class="fun-text">
                                        <h2>Successfull work</h2>
                                        <h3 class="counter">290</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-100">
                                <div class="single-fun-fact text-center">
                                    <div class="fun-icon">
                                        <i class="zmdi zmdi-account-circle"></i>
                                    </div>
                                    <div class="fun-text">
                                        <h2>Happy People</h2>
                                        <h3 class="counter">990</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                <div class="single-fun-fact text-center">
                                    <div class="fun-icon">
                                        <i class="zmdi zmdi-truck"></i>
                                    </div>
                                    <div class="fun-text">
                                        <h2>Freight Vehicles</h2>
                                        <h3 class="counter">120</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                <div class="single-fun-fact text-center">
                                    <div class="fun-icon">
                                        <i class="zmdi zmdi-badge-check"></i>
                                    </div>
                                    <div class="fun-text">
                                        <h2>Award Winning</h2>
                                        <h3 class="counter">499</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About us end-->

        <!--Our Team section start-->
        <div class="our_team_area pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2>Our Team</h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mt-60">
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single_team mb-30">
                            <div class="team__thumb">
                                <a href="#">
                                    <img src="assets/img/team/1.jpg" alt="team images">
                                </a>
                            </div>
                            <div class="team__hover__info">
                                <div class="team__hover__action">
                                    <h2><a href="#">Madison Gomez</a></h2>
                                    <ul class="social__icon">
                                        <li><a href="https://twitter.com" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="https://plus.google.com/" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single_team mb-30">
                            <div class="team__thumb">
                                <a href="#">
                                    <img src="assets/img/team/2.jpg" alt="team images">
                                </a>
                            </div>
                            <div class="team__hover__info">
                                <div class="team__hover__action">
                                    <h2><a href="#">Thomas Baker</a></h2>
                                    <ul class="social__icon">
                                        <li><a href="https://twitter.com" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="https://plus.google.com/" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single_team mb-30">
                            <div class="team__thumb">
                                <a href="#">
                                    <img src="assets/img/team/4.jpg" alt="team images">
                                </a>
                            </div>
                            <div class="team__hover__info">
                                <div class="team__hover__action">
                                    <h2><a href="#">Jane Spencer</a></h2>
                                    <ul class="social__icon">
                                        <li><a href="https://twitter.com" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="https://plus.google.com/" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
            </div>
        </div>
        <!--Our Team section End-->



        <!--Testimonail start -->
        <div class="testimonial white-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                        <div class="testimonial_list owl-carousel">
                            <div class="testmonial-inner text-center">
                                <div class="test-content">
                                    <p>Lorem ipsum dolor sit amet, consec teitur adipisicing elit, sedgh dnthto eiusmod tempor incididunt labore et dolore menmation ullamco laboris nisi uit aliqkea commodo consequat. </p>
                                </div>
                                <div class="test-title">
                                    <h5>Heather Porter</h5>
                                    <h6>Devloper</h6>
                                </div>
                            </div>
                            <div class="testmonial-inner text-center">
                                <div class="test-content">
                                    <p>Lorem ipsum dolor sit amet, consec teitur adipisicing elit, sedgh dnthto eiusmod tempor incididunt labore et dolore menmation ullamco laboris nisi uit aliqkea commodo consequat. </p>
                                </div>
                                <div class="test-title">
                                    <h5>Bruce Carroll</h5>
                                    <h6>Designer</h6>
                                </div>
                            </div>
                            <div class="testmonial-inner text-center">
                                <div class="test-content">
                                    <p>Lorem ipsum dolor sit amet, consec teitur adipisicing elit, sedgh dnthto eiusmod tempor incididunt labore et dolore menmation ullamco laboris nisi uit aliqkea commodo consequat. </p>
                                </div>
                                <div class="test-title">
                                    <h5>William Silva</h5>
                                    <h6>ceo</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Testimonail end-->

        <!--Brand carousel start -->
        <div class="brand-area white-bg ptb-90">
            <div class="container">
                <!-- Brand Logo Active Start Here -->
                <div class="brand_carousel_active owl-carousel">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b1.jpg" alt="brand-image"></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b2.jpg" alt="brand-image"></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b3.jpg" alt="brand-image"></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b4.jpg" alt="brand-image"></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b5.jpg" alt="brand-image"></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b3.jpg" alt="brand-image"></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/b1.jpg" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Logo Active End Here -->
            </div>
        </div>

        <!--Brand carousel end-->

        <!--Newsletter section start-->
        <div class="newsletter_section ptb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="newsletter_text">
                            <h2>Get All Updates</h2>
                            <p>Sign up our newsleter today. Also get allert for new product.</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="newsletter_form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Newsletter section end -->

        <!--Footer start-->
        <!--Footer start-->
        
        {% include 'footer.html' %}


        <!--Footer end-->
        <!--Footer end-->
    </div>
    {% endblock %}


    <!-- all js here -->
