{% extends 'myadmin/layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h2 class="title">ORDER:</h2>
        
      </div>
      <div class="card-body">
       <h4>Shipping</h4>
        <p>Name: {{object.first_name}} {{object.last_name}}</p>
        <p>Email: {{object.email}}</p>
        <p>Shipping Address: {{object.address_line_1}} {{object.address_line_2}}</p>
        <div class="alert alert-warning col-md-6" role="alert">
          {{object.status}} Something........
        </div>
       <h4>Payment</h4>
        <p>Name: Something Something</p> 
       <h3>Order Items</h3>
       <div class="table-responsive">
          <table class="table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  S.N
                </th>
                <th>
                  Product Name
                </th>
                <th>
                  Quantity
                </th>
                <th class="text-center">
                  Price
                </th>
                <th class="text-center">
                  Total
                </th>
                
              </tr>
            </thead>
            <tbody>
              {% for order in object_list %}
              <tr>
              <td>
              {{forloop.counter}}
              </td>
                <td>
                  {{order.user}}
                </td>
                <td>
                  {{order.created_at}}
                </td>
                <td class="text-center">
                  Rs. {{order.order_total}}
                </td>
                <td>
                  <span class="badge badge-info">{{order.status}}</span>
                </td>
                <td>
                <a href="{% url 'myadmin:order-detail' order.id %}" class="btn btn-fill btn-secondary">Detail</a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        {% comment %} <button type="submit" class="btn btn-fill btn-primary">Save</button> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/assets/img/emilyz.jpg" alt="...">
              <h5 class="title">
                {{ object.user }}
              </h5>
            </a>
            <p class="description">
              {{ object.email }}
            </p>
          </div>
        </p>
        <div class="card-description text-center">
          <div class="row">
            <div class="col">Items</div>
            <div class="col">Rs. {{object.order_total}}</div>
            <div class="w-100"></div>
            <div class="col">Shipping</div>
            <div class="col">Rs. 0</div>
            <div class="w-100"></div>
            <div class="col">Tax</div>
            <div class="col">{{object.tax}}</div>
            <div class="w-100"></div>
            <div class="col">Total</div>
            <div class="col">{{object.order_total}}</div>
          </div>
          
        </div>
      </div>
      <div class="card-footer text-center">
        {% ifnotequal object.status 'Delivered' %}
        <a href="{% url 'myadmin:mark-delivered' object.id %}" class="btn btn-fill btn-primary">Mark as Delivered</a>
        {% endifnotequal %}
        {% ifequal object.status 'Delivered' %}
        <a href="{% url 'myadmin:mark-inprogress' object.id %}" class="btn btn-fill btn-danger">Mark as In Progress</a>
        {% endifequal %}
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
