{% extends 'base.html' %} {% load static %} {% block content %}

    <!-- Add your site or application content here -->

    <div class="exporso_wrapper">
        {% include 'header.html' %}

        <!--Breadcrumb section-->
        <div class="breadcrumb_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_inner">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><i class="zmdi zmdi-chevron-right"></i></li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb section end-->
        <!-- accont area start -->
        <div class="account_area ptb-100">
            <div class="container">
                <div class="row">
                    <!--login area start-->
                    <div class="col-lg-6 col-md-12">
                        <div class="account_form">
                            <div class="login_title">
                                <h2>login</h2>
                            </div>
                            <div class="login_form login">
                                <form action="#">
                                    <div class="login_input">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="login_input">
                                        <label>Passwords  <span>*</span></label>
                                        <input type="password">
                                    </div>
                                    <div class="login_submit">
                                        <button type="submit">login</button>
                                        <label for="remember">
                                                    <input id="remember" type="checkbox">
                                                    Remember me
                                                </label>
                                        <a href="#">Lost your password?</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!--login area start-->

                    <!--register area start-->
                    <div class="col-lg-6 col-md-12">
                        <div class="login_title">
                            <h2>Register</h2>
                        </div>
                        <div class="login_form form_register ">
                            <form action="#">
                                <div class="login_input">
                                    <label>Email address <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="login_input">
                                    <label>password <span>*</span></label>
                                    <input type="password">
                                </div>

                                <div class="login_submit">
                                    <button type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--register area end-->
                </div>
            </div>
        </div>
        <!-- accont area end -->

        <!--Newsletter section start-->
        <div class="newsletter_section ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="newsletter_text">
                            <h2>Get All Updates</h2>
                            <p>Sign up our newsleter today. Also get allert for new product.</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="newsletter_form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Newsletter section end -->

        <!--Footer start-->
        {% include 'footer.html' %}

        <!--Footer end-->



    </div>


    {% endblock %}
